<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./view/css/style_sending_money.css">
        <title>Wysyłanie pieniędzy</title>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <a href="index.php" style="text-decoration:none; color:black;">
                    <img src="./view/images/logo.png" style="float:left;" height="150px">
                    <p class="napisLogo">AMW</p>
                    <p class="napisLogo">Pay</p>
                    <p class="napisLogo">Project</p>  
                </a>
            </div>
			<div class="login">
				Witaj {user_name} {user_surname} &nbsp;&nbsp;&nbsp; <a href="index.php?page=logout"><button id="zaloguj">Wyloguj się</button></a>
			</div>
			<div id="menu" class="nav">
                <div class="konto">
                    <a href="index.php" class="navL"><p>Pulpit nawigacyjny</p></a>
                </div>
                <div class="transakcje">
                    <a href="index.php?page=transactions" class="navL"><p>Transakcje</p></a>
                </div>
                <div class="portfel">
                    <a href="index.php?page=wallet" class="navL"><p>Portfel</p></a>
                </div>
                <div class="ustawienia">
                    <a href="index.php?page=settings" class="navL"><p>Ustawienia</p></a>
                </div>
            </div>
            <div class="wysylanie">
                <a id="napis">Doładuj konto</a>
                <br><br>
                <form action="index.php?page=add_cash" method="post">
					<input type="hidden" name="sendForm" value="true">
					<a id="napis2">Wybierz kartę: </a>
                    <select id="typ_karty" name="cardId">
						{cards}
					</select>
                    <br><br>
                    <input type="number" id="kwota" step="0.01" name="amount" placeholder="Wpisz kwote w PLN" required></input>
                    <br><br><br>
                    <button id="wyslij">Doładuj konto</button>
                </form>
            </div>
            <div class="przerwa">
            </div>
            <div class="stopka1">
                <p>Polityka prywatności</p>
            </div>
            <div class="stopka2">
                <p>Regulamin strony internetowej</p>
            </div>
            <div class="stopka3">

            </div>
            <div class="stopka4">
                <p>Infolinia (czynna 24h na dobę): <a id="numer">213 769 666</a></p>
            </div>
            <div class="stopkaD">
                <p>&copy; 2022 AMW PP Polska</p>
            </div>
          </div>
    </body>
</html>