<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./view/css/currency_conversion.css">
        <title>PayProject :: Przewalutowanie</title>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <a href="index.php" style="text-decoration:none; color:black;">
                    <img src="./view/images/logo.png" style="float:left;" height="150px">
                    <p class="napisLogo">AMW</p>
                    <p class="napisLogo">Pay</p>
                    <p class="napisLogo">Project</p>  
                </a>
            </div>
			<div class="login">
				Witaj {user_name} {user_surname} &nbsp;&nbsp;&nbsp; <a href="index.php?page=logout"><button id="zaloguj">Wyloguj się</button></a>
			</div>
			<div id="menu" class="nav">
                <div class="konto">
                    <a href="index.php" class="navL"><p>Pulpit nawigacyjny</p></a>
                </div>
                <div class="transakcje">
                    <a href="index.php?page=transactions" class="navL"><p>Transakcje</p></a>
                </div>
                <div class="portfel">
                    <a href="index.php?page=wallet" class="navL"><p>Portfel</p></a>
                </div>
                <div class="ustawienia">
                    <a href="index.php?page=settings" class="navL"><p>Ustawienia</p></a>
                </div>
            </div>
            <div class="przewalutowanie">
				<form id="rejestracja" method="post" action="index.php?page=currency_conversion">
					<input type="hidden" name="sendForm" value="true">
					<p class="napis">Wpisz kwotę którą chcesz przewalutować</p>
					<input name="amount" type="number" required>
					<p class="napis">Wybierz z której kwoty chcesz wymienić walute</p>
					<select name="currencyFrom" required>
						 <option disabled selected value> -- Wybierz walute -- </option>
						<option value="PLN">PLN</option>
						<option value="USD">USD</option>
						<option value="EUR">EUR</option>
					</select>
					<p class="napis">Wybierz na którą kwotę chcesz wymienić walute</p>
					<select name="currencyTo" required>
						<option disabled selected value> -- Wybierz walute -- </option>
						<option value="PLN">PLN</option>
						<option value="USD">USD</option>
						<option value="EUR">EUR</option>
					</select>
					<!-- <p class='napis4'>Szacunkowa kwota którą otrzymasz po przewalutowaniu: </p> -->
					<br><br><button id="przycisk">Przewalutuj</button>
				  </form>
            </div>
            <div class="kalkulator">
                <div class="gora">
                    <br>
                    <a class="napis2">Kursy walut</a><br>
                    <br>
                    <a class="napis3">Aktualne kursy walut według NBP</a>
                    <br><br>
                </div>
                    <br><br>
                    <div class="dol">
					<a class="napis3">Dla PLN:</a>
					<br>
                    <img src="./view/images/pl.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{pln_exchange_pln} PLN</a>
                    <img src="./view/images/eu.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{pln_exchange_euro} EUR</a>
					<img src="./view/images/us.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{pln_exchange_usd} USD</a>
					<br><br><br>
					<a class="napis3">Dla USD:</a>
					<br>
					<img src="./view/images/us.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{usd_exchange_usd} USD</a>
					<img src="./view/images/pl.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{usd_exchange_pln} PLN</a>
                    <img src="./view/images/eu.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{usd_exchange_euro} EUR</a>
					<br><br><br>
					<a class="napis3">Dla EURO:</a>
					<br>
					<img src="./view/images/eu.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{euro_exchange_euro} EUR</a>
					<img src="./view/images/pl.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{euro_exchange_pln} PLN</a>
                    <img src="./view/images/us.png" style="float:left; border: #404040 solid 2px; margin-left: 20px;" height="30px">
                    <a id="kwota">{euro_exchange_usd} USD</a>

            </div>
			</div>
            <div class="stopka1">
                <p>Polityka prywatności</p>
            </div>
            <div class="stopka2">
                <p>Regulamin strony internetowej</p>
            </div>
            <div class="stopka3">

            </div>
            <div class="stopka4">
                <p>Infolinia (czynna 24h na dobę): <a id="numer">213 769 666</a></p>
            </div>
            <div class="stopkaD">
                <p>&copy; <script>document.write(new Date().getFullYear())</script> AMW PP Polska</p>
            </div>
          </div>
    </body>
</html>