<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./view/css/style.css">
        <title>Strona główna</title>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <a href="index.php"><img src="./view/images/logo.png" style="float:left;" height="150px"></a>
                <p class="napisLogo">AMW</p>
                <p class="napisLogo">Pay</p>
                <p class="napisLogo">Project</p>
            </div>
			<div class="login">
				<a href="index.php?page=register"><button id="zaloz">Załóż konto</button></a>
				<a href="index.php?page=login"><button id="zaloguj">Zaloguj się</button></a>
			</div>
			<div class="konto">
				<a href="index.php?page=home" class="navL"><p class="nav">Strona główna</p></a>
			</div>
			<div class="transakcje">
				<a href="#" class="navL"><p class="nav">Informacje</p></a>
			</div>
			<div class="historia">
				<a href="#" class="navL"><p class="nav">Oferty</p></a>
			</div>
			<div class="portfel">
				<a href="#" class="navL"><p class="nav">O nas</p></a>
			</div>
			<div class="ustawienia">
				<a href="#" class="navL"><p class="nav">Kontakt</p></a>
			</div>
			<div class="mainL">
				<p id="masz">MASZ TO OD ZARAZ</p>
                <p id="oferta">Z naszą ofertą <b>wykonasz</b> dowolną transakcję w internecie</p>
                <p><a id="wiecej" href="index.php?page=more">Więcej</a></p>
            </div>
            <div class="mainR">
                <img src="./view/images/GigaOgrod.png" style="float:left;" height="400px">
            </div>
            <div class="info1">
                <p>Przykładowa informacja nr 1</p>
                <p>Przykładowa informacja nr 1</p>
                <p>Przykładowa informacja nr 1</p>
                <p>Przykładowa informacja nr 1</p>
            </div>
            <div class="info2">
                <p>Przykładowa informacja nr 2</p>
            </div>
            <div class="info3">
                <p>Przykładowa informacja nr 3</p>
            </div>
            <div class="stopka1">
                <p>Polityka prywatności</p>
            </div>
            <div class="stopka2">
                <p>Regulamin strony internetowej</p>
            </div>
            <div class="stopka3">

            </div>
            <div class="stopka4">
                <p>Infolinia (czynna 24h na dobę): <a id="numer">213 769 666</a></p>
            </div>
            <div class="stopkaD">
                <p>&copy; 2022 AMW PP Polska</p>
            </div>
          </div>
    </body>
</html>