<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./view/css/style2.css">
        <title>Rejestracja</title>
    </head>
    <body>
        <div class="container">
            <div class="marginesL"></div>
            <div class="baner">
                <img src="./view/images/logo.png" style="float:left;" height="150px">
                <p class="napisLogo">AMW</p>
                <p class="napisLogo">Pay</p>
                <p class="napisLogo">Project</p>
            </div>
            <div class="przerwaL"></div>
            <div class="main">
                <p id="napis">Rejestracja</p>
                <form id="rejestracja" method="post" action="index.php?page=register">
					<input type="hidden" name="sendRegisterForm" value="true">
                    <p class="naz">E-mail</p>
					<input class="inpt" type="email" id="email" name="email" required>
                    <p class="naz">Hasło</p>
					<input class="inpt" type="password" id="haslo" name="pass" required>
                    <p class="naz">Imię</p>
					<input class="inpt" type="text" id="imie" name="name" required>
                    <p class="naz">Nazwisko</p>
					<input class="inpt" type="text" id="nazwisko" name="surname" required>
                    <p class="naz">Data urodzenia</p>
					<input class="inpt" type="date" id="dataU" name="birthday" required>
                    <p class="naz">Adres rozliczeniowy</p>
					<input class="inpt" type="adress" id="adresR" name="address" required>
                    <p class="naz">Kod pocztowy</p>
					<input class="inpt" type="text" id="kodP" name="postcode" required>
                    <p class="naz">Miasto</p>
					<input class="inpt" type="text" id="miasto" name="city" required>
                    <p class="naz">Zaakceptuj regulamin:
					<input type="checkbox" id="regulamin" required></p>
                    <p></p>
                    <a id="centrujR"><button id="zarejestruj">Zarejestruj</button></a>
                </form>
                <p id="stopka">&copy; 2022 PP Polska</p>
            </div>
            <div class="przerwaP"></div>
            <div class="marginesP"></div>
          </div>
    </body>
</html>