<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="./view/css/style2.css">
		<title>Przypomnij hasło</title>
	</head>
	<body>
		<div class="container">
			<div class="marginesL"></div>
			
			<div class="baner">
				<a href="index.php"><img src="./view/images/logo.png" style="float:left;" height="150px"></a>
				<p class="napisLogo">AMW</p>
				<p class="napisLogo">Pay</p>
				<p class="napisLogo">Project</p>
			</div>
			<div class="przerwaL"></div>
			<div class="main" style="margin-top:20%;">
				<p id="napis">Przypomnij hasło</p>
				<form method="post" id="logowanie" action="index.php?page=remind_password">
					<input type="hidden" name="sendNewPass" value="true">
					<input type="hidden" name="MAIL" value="{mail}">
					<input type="hidden" name="CODE" value="{code}">
					<p class="naz">Nowe hasło</p>
					<input class="inpt" type="password" name="PASS" required>
					<p class="naz">Powtórz nowe hasło</p>
					<input class="inpt" type="password" name="PASSREPEAT" required>
					<p></p>
					<a id="centrujL"><button id="zaloguj">Zmień hasło</button></a>
				</form>
				<p id="stopka">&copy; <script>document.write(new Date().getFullYear())</script> AMW PP Polska</p>
			</div>
			<div class="przerwaP"></div>
			<div class="marginesP"></div>
		</div>
	</body>
</html>