<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./view/css/style_personal_account_balance_overview.css">
        <title>Strona główna</title>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <a href="index.php" style="text-decoration:none; color:black;">
                    <img src="./view/images/logo.png" style="float:left;" height="150px">
                    <p class="napisLogo">AMW</p>
                    <p class="napisLogo">Pay</p>
                    <p class="napisLogo">Project</p>  
                </a>
            </div>
			<div class="login">
				Witaj {user_name} {user_surname} &nbsp;&nbsp;&nbsp; <a href="index.php?page=logout"><button id="zaloguj">Wyloguj się</button></a>
			</div>
			<div id="menu" class="nav">
                <div class="konto">
                    <a href="index.php" class="navL"><p>Pulpit nawigacyjny</p></a>
                </div>
                <div class="transakcje">
                    <a href="index.php?page=transactions" class="navL"><p>Transakcje</p></a>
                </div>
                <div class="portfel">
                    <a href="index.php?page=wallet" class="navL"><p>Portfel</p></a>
                </div>
                <div class="ustawienia">
                    <a href="index.php?page=settings" class="navL"><p>Ustawienia</p></a>
                </div>
            </div>
            <div class="saldo_konta">
                <a id="napisy">Saldo konta użytkownika</a>
                <br>
                <a id="kasa_napis">{account_balance} PLN</a>
                <br>
                <a href="index.php?page=add_cash"><button id="przelej">Doładuj konto</button></a>
            </div>
            <div class="ostatnie_transakcje">
                <a id="napisy">Ostatnie transakcje</a>
                <br><br>
                <a id="nazwisko">{transactionOneName}</a>
                <a id="kwota">{transactionOneAmount}</a>
                <br>
                <a id="data">{transactionOneDate}</a>
                <hr><br>
                <a id="nazwisko">{transactionTwoName}</a>
                <a id="kwota">{transactionTwoAmount}</a>
                <br>
                <a id="data">{transactionTwoDate}</a>
                <hr><br>
                <a id="nazwisko">{transactionThreeName}</a>
                <a id="kwota">{transactionThreeAmount}</a>
                <br>
                <a id="data">{transactionThreeDate}</a>
            </div>
            <div class="przerwa">
            </div>
            <div class="przyciski">
                <a id="spacja"></a>
                <a href="index.php?page=send_money"><button id="wyslij">Wyślij pieniądze</button></a>
                <a id="spacja"></a>
                <a href="index.php?page=demand_money"><button id="zadaj">Żądaj pieniędzy</button></a>
            </div>
            <div class="moje_karty">
                <a id="napisy">Moje karty bankowe</a>
                {cards}
            </div>
            <div class="stopka1">
                <p>Polityka prywatności</p>
            </div>
            <div class="stopka2">
                <p>Regulamin strony internetowej</p>
            </div>
            <div class="stopka3">

            </div>
            <div class="stopka4">
                <p>Infolinia (czynna 24h na dobę): <a id="numer">213 769 666</a></p>
            </div>
            <div class="stopkaD">
                <p>&copy; 2022 AMW PP Polska</p>
            </div>
          </div>
    </body>
</html>